/* 增大所有提示框的字体大小 */
.md-typeset .admonition {
    line-height: 1.4;   /* 增大行高 */
}

/* 增大提示框标题字体大小 */
.md-typeset .admonition-title {
    font-size: 0.95rem;
}

/* 增大提示框内容字体大小 */
.md-typeset .admonition > :last-child {
    font-size: 1.02rem;
}